workflows/[ IL ] AgentLeadAddSiteCompany.json
{
  "name": "[ IL ] AgentLeadAddSiteCompany",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1342ojoe3mf5CAY6fefNVBAonaioFnPk21Fa24POqFyo",
          "mode": "list",
          "cachedResultName": "Лиды компаний",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Запросы",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Запросы": "={{ $('Loop Over Items1').item.json[\"Запросы\"] }}",
            "Статус выполнения": "1"
          },
          "matchingColumns": [
            "Запросы"
          ],
          "schema": [
            {
              "id": "Запросы",
              "displayName": "Запросы",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Статус выполнения",
              "displayName": "Статус выполнения",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        80,
        1408
      ],
      "id": "4cb6eadf-89a2-40be-b614-8641c892d4a6",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GPV4sAvm0FMvsjFh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Цикл записи и проверки",
        "height": 280,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        1072
      ],
      "id": "8dcf1b9a-3e74-40e3-8be5-b0a9231603bb",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        368
      ],
      "id": "96559703-1acc-4a50-9741-002da40a7f32",
      "name": "Loop Over Items1",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1342ojoe3mf5CAY6fefNVBAonaioFnPk21Fa24POqFyo",
          "mode": "list",
          "cachedResultName": "Лиды компаний",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Запросы",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Статус выполнения",
              "lookupValue": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        272,
        64
      ],
      "id": "828e453d-3b16-44b4-9590-1230922e91c1",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GPV4sAvm0FMvsjFh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 500
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        480,
        64
      ],
      "id": "5ad1667f-ded4-4d17-85cd-4150c201595d",
      "name": "Limit"
    },
    {
      "parameters": {
        "content": "## Получение сайтов компаний по запросу",
        "height": 240,
        "width": 640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4bcdc88c-d699-421b-b99f-1f79efe892fb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Получение результата",
        "height": 220,
        "width": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2368,
        64
      ],
      "id": "5620a887-13a0-4684-91ed-f8c05f5883d3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Цикл прохода по запросам для записи и проверки",
        "height": 1300,
        "width": 2660,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        304
      ],
      "id": "ad7a5168-ca74-4c61-8766-a5a5419e0da5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1184,
        1120
      ],
      "id": "8e22e603-e3da-4205-8ba0-2b4f7514eefb",
      "name": "Wait1",
      "webhookId": "db725a26-f4a4-4c24-bee7-b96d555c1e75"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d6edd80e-6a2d-46c5-b21d-68ee44bd17d1",
              "leftValue": "={{ $json[\"Сайт\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        1120
      ],
      "id": "0e985cf4-8816-4b2e-a36a-5bbc05f6795a",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1342ojoe3mf5CAY6fefNVBAonaioFnPk21Fa24POqFyo",
          "mode": "list",
          "cachedResultName": "Лиды компаний",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/"
        },
        "sheetName": {
          "__rl": true,
          "value": 2128725837,
          "mode": "list",
          "cachedResultName": "Компании",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Сайт",
              "lookupValue": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        304,
        1120
      ],
      "id": "76336ee1-ef67-4c45-b991-c8d5fbb08d35",
      "name": "Google Sheets1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GPV4sAvm0FMvsjFh",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        1120
      ],
      "id": "7f7b5432-482b-4e3f-ae90-c402510fb5af",
      "name": "Wait",
      "webhookId": "1440431f-fe0d-4d01-ad62-ee0807ef2b95"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed08563e-2887-4648-8e07-095bd1582d43",
              "name": "true",
              "value": "Сайты компаний собраны, посмотрите на https://docs.google.com/spreadsheets/d/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2448,
        144
      ],
      "id": "f2dc5cc5-c87b-4102-a768-92f559d970f1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1342ojoe3mf5CAY6fefNVBAonaioFnPk21Fa24POqFyo",
          "mode": "list",
          "cachedResultName": "Лиды компаний",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/"
        },
        "sheetName": {
          "__rl": true,
          "value": 2128725837,
          "mode": "list",
          "cachedResultName": "Компании",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Сайт": "={{ $('Loop Over Items').item.json.url }}",
            "Статус получения данных": "0",
            "Валидность": "0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Сайт",
              "displayName": "Сайт",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Инстаграм",
              "displayName": "Инстаграм",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Почта",
              "displayName": "Почта",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Телефон",
              "displayName": "Телефон",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Фулл Инфа",
              "displayName": "Фулл Инфа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Статус получения данных",
              "displayName": "Статус получения данных",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Валидность",
              "displayName": "Валидность",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        752,
        1120
      ],
      "id": "8b95d703-203b-44d1-8da1-dec33baa7591",
      "name": "Google Sheets",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GPV4sAvm0FMvsjFh",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $node['Loop Over Items'].context[\"done\"] }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        80,
        1120
      ],
      "id": "2a6e0334-c35c-48ff-9a29-43efb9c17351",
      "name": "Loop Over Items",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "url",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        2464,
        928
      ],
      "id": "4a4f9d26-e77b-4857-b3f8-dec741d82124",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c8184c9f-0e84-4265-8c75-3bf4152f5d61",
              "leftValue": "={{ $json.url }}",
              "rightValue": "(google|gstatic|ggpht|schema|exemple|whatsapp|telegram|t.me|yclients|null|yc|wa)",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1808,
        320
      ],
      "id": "c576af1b-09d4-4b11-b2b4-3c5863e722b3",
      "name": "Filter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем все place_id из results[]\nconst results = $json.results || [];\nreturn results.map(place => ({\n  json: {\n    place_id: place.place_id\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        368
      ],
      "id": "03bad50d-297d-4ebb-a271-a77f56cfd2cf",
      "name": "Code",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/place/textsearch/json?query={{ $json[\"Запросы\"] }}&key=YOUR_API_KEY",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        368
      ],
      "id": "e52fa353-03d4-49d1-a195-ce45117c68c1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce6efe00-8e6b-46a9-95c8-7cac38e7ead5",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2464,
        720
      ],
      "id": "a394cdbc-6ed3-4b25-9393-79a873311d52",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/place/details/json?place_id={{ $json.place_id }}&fields=name,website,formatted_address&key=YOUR_API_KEY",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        560
      ],
      "id": "9879ae20-007f-4976-9e36-d64781e1d1c4",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1232,
        560
      ],
      "id": "8b327378-dc7a-4e77-b09b-44b2ccb3b734",
      "name": "Wait2",
      "webhookId": "c68068bd-d125-4fc2-8639-395e6095ad32"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $node['Loop Over Items2'].context[\"done\"] }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1024,
        352
      ],
      "id": "4c515c1e-c3f5-4cd2-a824-3e807030b3b3",
      "name": "Loop Over Items2",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bdc89c27-25d4-4491-a24b-90228fae19f1",
              "name": "url",
              "value": "={{ $json.result.website }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        640
      ],
      "id": "45d4970c-c471-49eb-b080-b6b57a459589",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce6efe00-8e6b-46a9-95c8-7cac38e7ead5",
              "leftValue": "={{ $json.result.website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1408,
        560
      ],
      "id": "ee16fe93-0642-4d41-8fe0-6b36cdae138e",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce6efe00-8e6b-46a9-95c8-7cac38e7ead5",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1392,
        320
      ],
      "id": "b725c6ac-5d0d-4dd6-841c-f39cf1d6d460",
      "name": "If4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1342ojoe3mf5CAY6fefNVBAonaioFnPk21Fa24POqFyo",
          "mode": "list",
          "cachedResultName": "Лиды компаний",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Запросы",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Запросы": "={{ $('Loop Over Items1').item.json[\"Запросы\"] }}",
            "Статус выполнения": "1"
          },
          "matchingColumns": [
            "Запросы"
          ],
          "schema": [
            {
              "id": "Запросы",
              "displayName": "Запросы",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Статус выполнения",
              "displayName": "Статус выполнения",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1792,
        464
      ],
      "id": "6cb4f350-ef43-4e17-8376-954ff0df1c96",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GPV4sAvm0FMvsjFh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2144,
        688
      ],
      "id": "8fb3b100-18ad-4e76-977e-b7ecfea946c4",
      "name": "Wait3",
      "webhookId": "8b4c6efa-577c-4c49-9f64-ea54aab23498"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3d41906-0bcf-49fd-b22d-e65755c7025d",
              "leftValue": "={{ $json.place_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        368
      ],
      "id": "38c46253-b9bd-47ae-a52e-31edd7d09546",
      "name": "If2"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        64,
        592
      ],
      "id": "0af35c92-a6b4-4d02-b6b7-a1514069b839",
      "name": "Wait4",
      "webhookId": "e3fa05e6-7e45-43eb-99ce-aae2a08eeac0"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1342ojoe3mf5CAY6fefNVBAonaioFnPk21Fa24POqFyo",
          "mode": "list",
          "cachedResultName": "Лиды компаний",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Запросы",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Запросы": "={{ $('Loop Over Items1').item.json[\"Запросы\"] }}",
            "Статус выполнения": "1"
          },
          "matchingColumns": [
            "Запросы"
          ],
          "schema": [
            {
              "id": "Запросы",
              "displayName": "Запросы",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Статус выполнения",
              "displayName": "Статус выполнения",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        672,
        592
      ],
      "id": "b002b567-9cf6-4e62-a04a-51f4f6bc3d0e",
      "name": "Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GPV4sAvm0FMvsjFh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1232,
        320
      ],
      "id": "5fb34d24-90d1-4aaa-a83e-e08c037da6ea",
      "name": "Wait5",
      "webhookId": "d26f43dc-8dec-48a6-afe0-7b27e625a0d6"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        64
      ],
      "id": "4a1c3173-0f4f-40a2-8275-ba2576e4d286",
      "name": "Workflow Input Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cda19833-29b4-4c1a-8e28-eef5ce813d6b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ba8c32709770420ad134fd1be193536028b3380b61de7792ca73fc58de437ac"
  },
  "id": "b6ITL5r10gFQKU1g",
  "tags": [
    {
      "updatedAt": "2026-03-12T08:13:13.736Z",
      "createdAt": "2026-03-12T08:13:13.736Z",
      "id": "J4bp2E6bD0ahGWSJ",
      "name": "need gmaps"
    }
  ]
}